@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    background-image: url(images/fon-bumaga.jpg);
    font-family: "Raleway", sans-serif;
    margin: 30px 50px 30px 30px;
    a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        display: block;
        padding-right: 10px;
    }
}

.header {
    display: flex;
    align-items: center;

    img {
        width: 306px;
        height: 306px;
        border-radius: 50%;
        border: 10px double black;
    }
    div {
        padding-left: 40px;
    }
}

.education {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        padding-bottom: 10px;
    }
    a {
        padding-right: 10px;
        padding-top: 10px;
    } 

    .progress {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .institution {
        display: none;
    }
}


.portfolio {
    a {
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: 1px dashed black;
    }
    .first-link {
        padding-top: 0;
        border: 0;
    }

    p {
       margin:10px 0;
    }
    h4 {
        margin: 10px 0 0 0;
    }
    ul {
        margin-top: 10px;
    }
    li {
        margin-bottom: 5px;
    }
}

footer {
    border-top: 3px solid black;
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px) {
    html {
        overflow: auto;
    }

    body {
        margin: 10px;
    }

    .header {
      flex-direction: column;
        img {
            width: 75%;
            height: 75%;
        }
        div {
            padding-left: 0;
            text-align: center;
        }
    }

    .about {
       h2 {
        text-align: center;
     } 
        p {
            text-align: justify;
        }
    }

    .education {
        .progress {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
    
            .only-dekstop {
                display: none;
            }
        }
    
        .institution {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
           }
    }

    .portfolio {
        h2 {
            text-align: center;
        }
    }

    .contacts {
        flex-wrap: wrap;
        justify-content: center;
        span {
            margin-right: 10px;
        }       
    }
}

